@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/FuturaPTMedium.woff2') format('woff2'), 
    url('../fonts/FuturaPTMedium.woff') format('woff'); 
 }
 @font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/FuturaPTBold.woff2') format('woff2'),
    url('../fonts/FuturaPTBold.woff') format('woff');
 }